<?xml version="1.0"?>
<launch>

    <!-- Launch VLP16 x 2 and RPLidar v2 x 2 -->
    <include file="$(find rplidar_ros)/launch/multiple_lidar.launch">
        <arg name="serial_port_front" default="/dev/ttyUSB3" /> <!-- 0 or 3 -->
        <arg name="serial_port_rear" default="/dev/ttyUSB2" /> <!-- 1 or 2 -->
    </include>

    <!-- Launch realsense t265 
    <include file="$(find realsense2_camera)/launch/rs_t265.launch">
        <arg name="enable_gyro" value="true"/>
        <arg name="enable_accel" value="true"/>
        <arg name="enable_pose" value="false"/>
        <arg name="publish_odom_tf" value="false" />
        <arg name="unite_imu_method" value="copy" />
    </include>  -->
    
</launch>
